* {
    box-sizing: border-box;
}

/* body styles */
body {
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
    color: #212121;
    height: 100vh;
}

/* Navbar Styles */
.navigation {
    height: 80px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.navbar-brand img{
    height: 60px;
}
nav {
    max-width: 1190px;
    margin: 0;
    padding: 0;
    margin: auto;
}

/* section styles */
.main {
    max-width: 490px;
    margin: auto;
    margin-top: 96px;
}
.title {
    font-size: 3.6em;
    font-weight: 300;
    margin-bottom: 0;
}
.pass {
    margin-top: 64px;
}
.form-group {
    margin: 0;
    padding: 0;
}
.pass label {
    font-size: 1.8em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.form-control {
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 0;
    height: 50px;
    font-size: 2em;
    font-weight: 300;
}
.form-control:focus {
    box-shadow: none;
    border: 1px #0066f4 solid;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
}
.pass-field {
    position: relative;
    height: 50px;
}
.pass-field img {
    position: absolute;
    top: 30%;
    right: 12px;
}
.pass-strength {
    margin-top: 8px;
    font-size: 1.6em;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pass-strength p {
    margin: 0;
    padding: 0;
}
.strength-bar {
    background-color: #c4c4c4;
    display: inline-block;
    height: 4px;
    width: 95px;
    border-radius: 5px;
}
.pass-info {
    margin-top: 8px;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
}
.terms {
    margin-top: 40px;
    font-size: 1.8em;
    margin-bottom: 0;
}
.terms a {
    color: #0066f4;
    font-weight: 500;
}
.terms a:hover {
    text-decoration: none;
    color: #212121;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;    
}
.pass button {
    margin-top: 64px;
    float: right;
    clear: both;
    background: #212121;
    color: #ffffff;
    height: 50px;
    width: 352px;
    font-size: 2em;
    letter-spacing: 1px;
    border-radius: 5px;
}
.pass button:hover {
    background-color: #0066f4;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in; 
}