* {
    box-sizing: border-box;
}

/* body styles */
body {
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
    color: #212121;
    height: 100vh;
    position: relative;
}

/* Navbar Styles */
.navigation {
    height: 80px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.navbar-brand img{
    height: 60px;
}
nav {
    max-width: 1190px;
    margin: 0;
    padding: 0;
    margin: auto;
}

/* section styles */
.content {
    margin: auto;
    max-width: 490px;
}
.progress {
    background: none;
    display: flex;
    align-items: center;
    margin-top: 53px;
}
.progress p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.indicator {
    border-radius: 50%;
    background: black;
    width: 8px;
    height: 8px;
    margin-left: 16px;
}
.progress .next {
    margin-left: 12px;
    opacity: 0.2
}
.title {
    margin: 0;
    padding: 0;
    margin-top:32px;
    font-size: 3.6em;
    font-weight: 300;
}
.form-group {
    margin: 0;
    padding: 0;
}
.input {
    margin-top: 64px;
}
.input label, .headline {    
    padding-bottom: 0;
    margin-bottom: 8px;
    font-size: 1.6em;
    font-weight: 500;
}
.bond {
    margin-top: 48px;
}
.form-control {
    border-radius: 0;
    height: 50px;
    font-size: 1.8em;
    font-weight: 300;
}
.form-control:focus{
    box-shadow: none;
    border: 1px #0066f4 solid;
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
}
.headline {
    margin-top: 48px;
}
.sub-head {
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 24px;
}
.col-12 {
    width: 143px;
    height: 47px;
    border: 1px #0066f4 dotted;
    background: #f7f7f7;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.4em;
    font-weight: 300; 
}
.col-12 p {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.input button {
    margin-top: 64px;
    margin-bottom: 24px;
    float: right;
    clear: both;
    background: #212121;
    color: #ffffff;
    height: 50px;
    width: 352px;
    font-size: 1.8em;
    letter-spacing: 1px;
    border-radius: 5px;
}
.input button:hover {
    background-color: #0066f4;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in; 
}
.image img {
    width: 389px;
    position: absolute;
    left: 1%;
    top: 55%;
}
.faded img {
    left: 70%;
    opacity: 0.1;
}